<!DOCTYPE html>
<html>
<head>
<% include ../views/partials/head %>
</head>
<body>
    <div class="container">
        <header>
            <% include ../views/partials/header %>
        </header>
<center><h1> welcome to EMS <h1></center>
</div>
<footer>
    <% include ../views/partials/footer %>
</footer>
</body>
</html>   
